html {
	max-width: 100%; 
	background-image: url("Flag_of_France.png");
	background-position: center;
	background-size: contain;
}

h1 {
	background-color: tomato;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

h2 {
	margin-bottom: 15px;
	margin-top: 0px;
	padding: 5px;
}

figure {
	margin: 0;
	border-bottom-style: solid;
	max-width: 800px;
	width: 100%;
}

figcaption {
	background-color: tomato;
	width: 100%;
	font-size: 16px;
}

img {
	width: 800px; 
	max-width: 100%; 
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
}

main {
	margin-right: 5%;
	margin-left: 5%;
}

#pictures {
	background-color:#fff;
	padding: 15px;
	max-width: 900px;
	margin: auto;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	font-size: 0;
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
}