p,a,h3 {
	font-family: Arial, Helvetica, sans-serif;
}

h1,h2 {
	font-family: "Times New Roman", Times, serif;
}

h2 {
	background-color: tomato;
}

img {
	width: 800px; 
	max-width: 100%; 
	margin: auto;
	display: block;
}

html {
	max-width: 100%; 
	background-image: url("Flag_of_France.png");
	background-position: center;
	background-size: contain;
}

body {
  margin: 0px;
}

header {
	background: lightblue;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom-style: solid;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

nav a {
	border-left-style: solid;
	margin: 20px;
	padding: 10px;
}

main {
	max-width: 1080px; 
	background:#fff;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

article {
	margin-right: 5%;
	margin-left: 5%;
}

aside {
	margin-right: 5%;
	margin-left: 5%;
}

section {
	border-bottom-style: solid;
}

